.product-detail {
  .new-review-head {
    margin-top: 20px;
  }

  .rating-dropdown {
    margin: 15px 0 10px 0;
  }

  .review {
    margin: 20px 0;


    .review-user-name {
      font-size: 14px;
      font-weight: bold;
    }

    .review-rating {
      color: #e4b11e;
      letter-spacing: 2px;
    }

    .delete-review {
      margin-left: 10px;
    }

    .review-description {
      margin-top: 5px;
    }
  }
}